@model Countries.Models.CountryInfo

@{
    ViewBag.Title = string.Format("Edit {0}", Model.Name);
}

<h1>Edit @Model.Name</h1>
<hr />

@using (Html.BeginForm("Edit", "Country"))
{
    
    @Html.EditorForModel()
        
    <input  class="btn btn-primary btn-sm btn-block" type="submit" value="Save" />
}
<div class="link">
  @Html.ActionLink("Cancel and return to List", "Index")
</div>

